<footer class="footer">
  <div class="footer-title">Sign in with</div>
  <div class="icons">
    <a href="#facebook" class="footer-icon">
      <img src="/assets/facebook.svg" alt="facebook" />
    </a>
    <a href="#google-plus" class="footer-icon">
      <img src="/assets/google-plus.svg" alt="google plus" />
    </a>
    <a href="#twitter" class="footer-icon">
      <img src="/assets/twitter.svg" alt="twitter" />
    </a>
    <a href="#behance" class="footer-icon">
      <img src="/assets/behance.svg" alt="behance" />
    </a>
  </div>
</footer>
